.excerpt{

    text-align: justify;
    word-spacing: 0.05em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.post-card{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 3rem;
    box-shadow: 1px 1px 13px rgb(206, 206, 206);
  
}

.meta .excerpt {

    line-height: 1.6;
}

h2{

    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 30px;
    line-height: 1.6;
}

.read-more{

    visibility: hidden;
    text-decoration: none;
    transition: 0.1s;
    opacity: 0;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(64, 55, 225);
    letter-spacing: 1px;

}

.post-card:hover .read-more{

    visibility: visible;
    opacity: 1;
    
}

:root{
 
  --color-accent: #0051ae;

}


a:focus {
  outline:  2px solid var(--color-accent);
  outline-offset: 4px;
    
}